.box {
	width:280px;
	height:280px;
	display:flex;
	align-items:center;
	justify-content:center;
	font-family: "Inconsolata", monospace;
	font-size: 28px;
	border:1px solid #c39f76;
	box-sizing:border-box;
}

#fading-world::before{
    content:"Hello World";
    mask: linear-gradient(90deg, #000, #0002);
    
}

#hello-world::before{
    content: "Hello World";
}

#hello-world-again::before{
    content: "Hello World";
    width: 50%;
    text-align: center;
}