*{
    box-sizing: border-box;
}

.container{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.box {
	width:280px;
	height:280px;
	display:flex;
	align-items:center;
	justify-content:center;
	font-family: "Inconsolata", monospace;
	font-size: 28px;
	border:1px solid #c39f76;
	box-sizing:border-box;
}

#fading-world::before{
    content:"Hello World";
    mask: linear-gradient(90deg, #000, #0002);
    
}

#hello-world::before{
    content: "Hello World";
}

#hello-world-again::before{
    content: "Hello World";
    width: 50%;
    text-align: center;
}

#empty-world::before{
    content:"Hello World";
    color:white;
    text-shadow:0 1q #000,
            0 -1q #000,
            1q 0 #000,
            -1q 0 #000
}

#upside-down-world::before{
    content: "Hello";
}
#upside-down-world::after{
    content: "World";
    transform: scaleY(-1);
}

#black-or-white::before{
	content:"Hello";
	width: 50%;
	text-align:right;
	padding-right:7px;
}
#black-or-white::after{
	padding-left: 7px;
	height: 100%;
	width:50%;
	text-align:center;
	display:flex;
	align-items:center;
	content:"World";
	color: white;
	background: black;
}
#hit-the-target{
	background: radial-gradient(#c39f76 26q,
			white 27q 52q,
			#c39f76 53q 79q,
			white 80q 106q,
			#c39f76 0 133q, 
			white 0);
}

#intersection::after, #intersection::before{
	content: "";
	height: 45px;
	width: 120px;
	border: 30px solid  #c39f76 ;
	
}
#intersection::before{
	border-right: none;
	margin: -33.5px 0px 0  50px;
	 filter: blur(.5px);
	
}
#intersection::after{
	border-left: none;
	margin:  42px 50.5px 4px -99px;
	 filter: blur(.5px);
	
}
#rounded-line::before{
	content:"";
	width: 200px;
	height: 50px;
	background: #c39f76;
	border-radius: 30px;
}
#power-off{
	position: relative;
}
#power-off::before{
	content: "";
	width: 139px;
	height: 139px;
	background: radial-gradient(white 0q 53q, #c39f76 54q);
	border-radius: 50%;
}
#power-off::after{
	content: "";
	position: absolute;
	padding: 30px 10px 58px;
	background-color: #c39f76;
	border-radius: 20px;
	top: 45px;
	border: 10px solid white;
}
#the-moon{
	background: radial-gradient(circle at 60% 40%, #fff 35%, #0000 36%),
	radial-gradient(#c39f76 50%, #fff 51%);
	
}