:root{
    --bg-cl: #202124;
    --line-cl: #3c4043;
    --footer-cl: #171717;
    --link-cl: #8ab4f8;
    --text-cl-footer: #999da2;
    --btn-bg: #303134; /* hover search bg*/
    --btn-text: #e8eaed;
    --text-color-body: #bdc1c6;
    --search-border: #5f6368;
    --search-bg: #202124;
    --sing-in-btn-bg: #8ab4f8;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: var(--text-color-body);
    background-color: var(--bg-cl);
}