:root{
    --bg-cl: #202124;
    --line-cl: #3c4043;
    --footer-cl: #171717;
    --link-cl: #8ab4f8;
    --text-cl-footer: #999da2;
    --btn-bg: #303134; /* hover search bg*/
    --btn-text: #e8eaed;
    --text-color-body: #bdc1c6;
    --search-border: #5f6368;
    --search-bg: #202124;
    --sing-in-btn-bg: #8ab4f8;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    color: var(--text-color-body);
    background-color: var(--bg-cl);
}
.container.start-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.container.start-page .nav-bar{
    width: 100vw;
    flex-shrink: 0;
    display: flex;
    padding: 7px 15px ;
}
.container.start-page .nav-bar > ul{
    list-style: none;
    display: flex;
    margin-left: auto;
    gap: 15px;
    align-items: center;
}
.container.start-page .nav-bar > ul a{
    text-decoration: none;
    color: white
}
.container.start-page .nav-bar .icon{
    height: 40px;
    width: 40px;
}

.container.start-page .nav-bar button{
    padding: 9px 23px;
}
.container.start-page .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 290px;
    height: calc(100%  - 560px);
    min-height: 92px;
    flex-shrink: 0;
}

.container.start-page .start-search-bar{
    display: flex;
    border: 1px solid var(--search-border);
    border-radius: 12px;
    padding: 2px 8px;
    background-color: var(--search-bg);
    width: 30rem;
    flex: 1;
}
.container.start-page .start-search-bar input{
    background-color: var(--search-bg);
    border: 1px solid transparent;
    width: 100%;
    
    
}
.container.start-page .start-search-bar img{
    width: 20px;
    height: 20px;
}
.container.start-page form .start-buttons ul{
    list-style: none;
    display: flex;

}
.container.start-page .lang-links ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.container.start-page .start-footer{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    background-color: var(--footer-cl);
    width: 100vw;
    color: var(--text-cl-footer);
    
}
.container.start-page .start-footer div:first-child{
    border-bottom: 1px solid  #999da242;
    font-size: 0.85rem;
}
.container.start-page .start-footer div:first-child,
.container.start-page .start-footer div:last-child{
    padding: 2vh 2vw;
}

.container.start-page .start-footer .start-footer-links {
    display: flex;
    font-size: 0.8rem;
}
.container.start-page .start-footer .start-footer-links ul{
    list-style: none;
    display: flex;
    gap: 2vw;
}

.container.start-page .start-footer .start-footer-links ul a{
    text-decoration: none;
    color: inherit
}
.container.start-page .start-footer .start-footer-links ul:last-child{
    margin-left: auto;
}